a {
  text-decoration: none;
}
br {
    line-height: 5px;
}
#Logo {
  text-align: center;
  margin: 0;
}
#container {
    width: 674px;
    min-height: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

#body {
    width: 616px;
    padding: 5px 14px 5px 14px;
    margin: 0 auto;
    padding-bottom: 20px;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	background:#ffab62;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

header {
  background: #ff6600;
  border-color: #3399ff;
}

h1, h2 {
  color: #fff;
}

nav {
  background: #ff9900;


}

nav a {
  color: #fff;
}



nav a.selected, nav a:hover {
  color: #32673f;
}


body {
  background-color: #fff;
  color: #999
  background-repeat:no-repeat;
}

.input{
  margin-right: auto;
  margin-left: auto;
}

ul{
  margin-right: auto;
  margin-left: auto;
}
